<p>provider2 works!</p>

<div>
  <form [formGroup]="editProviderGroup" (ngSubmit)="submit()">

    <label for="name">Name: </label>
    <input
      id="name"
      type="text"
      formControlName="name"/><br/>
    <br/>

    <label for="logoFileName">Logo File Name: </label>
    <input
      id="logoFileName"
      type="text"
      formControlName="logoFileName"/><br/>
    <br/>

    <label for="pinImageFileName">Pin Image File Name: </label>
    <input
      id="pinImageFileName"
      type="text"
      formControlName="pinImageFileName"/><br/>
    <br/>

    <input
      type="submit"
      value="submit"/>

  </form>
</div>
<pre>
{{ formGroupJson }}
</pre>
